<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Polls</title>
    <style>
        .djpoll{
            color: brown;
            animation-name: move;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        }
         @keyframes move {
        from {background-color: orange;}
        to {background-color: yellow;}
}
    </style>
</head>
<body>
<h1>
    <div class="djpoll">
    This is Django Polls
</div>
</h1>
</body>
</html>